@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.mat-card-header{
  @apply bg-blue-300;
  @apply p-2;
  @apply m-4;
}

.mat-card-title{
  @apply from-gray-200
}

.mat-card{
  @apply p-2;
  @apply w-1/2;
  @apply self-center;
  @apply box-border;
}

.mat-card-content{
  padding:5px !important;
}

.form-display{
  @apply flex;
  @apply flex-col;
  @apply w-full;
  @apply box-border;
  @apply justify-center;
  @apply items-center;
  @apply content-center;
  @apply text-center
}

.mat-form-field{
  @apply w-3/4;
}

.mat-card-setting{
  @apply text-center;
}

.mat-button-base{
  @apply m-2;
  @apply p-2;
}

.rest{
  padding: unset;
  margin: unset;
  line-height: unset;
}
