**/node_modules/
**/.idea
**/bin
**/obj
**/yarn.lock
**/dist/
**/package-lock.json
**/.vs/
**/*.suo
Musing.Identity.Api/.vs/Musing.Identity.Api/DesignTimeBuild/.dtbcache.v2
Musing.Identity.Api/.vs/Musing.Identity.Api/DesignTimeBuild/.dtbcache.v2
Musing.Identity.Api/.vs/Musing.Identity.Api/v16/.suo
Musing.Identity.Api/appsettings.Development.json
Musing.Identity.Api/.vs/Musing.Identity.Api/v16/.suo
