.router-outlet{
  box-sizing: border-box;
  justify-self: center;
  justify-content: center;
  flex-grow: 1;
}
.head-div{
  padding: .5rem;
  box-sizing: border-box;
  background: #00a787;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  height: 2.5rem;
  text-align: center;
}

.foot-div{
  background: darkcyan;
}
